
#hamNav div
{
  -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}

#hamNav
{
  width: 100%;
  height: 40px;
  display: flex;
}

@media screen and (min-width: 636px) {
#hamNav
{
  display: none;
}
}

#hamSplash
{
  opacity: 1;
  position: absolute;
  height: 100vh;
  width: 0;
  left:0;
  top:0;
  z-index: 100;
  background-image: url("../images/hiDef/whiteMat.webp");
  background-size: cover;
  background-position: top;
}

#fullWrap
{
  background-color: #ffffff;
  width: 100%;
  height: 100%;
}



#hamSplash ul
{
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 0;
  transition: all 0.3s;
}

#hamSplash ul li
{
  display: flex;
  color: #000003;
  padding-top: 25px;
  padding-bottom: 25px;
  transition: all 0.3s;
}

#hamWrap
{
  height: 30px;
  width: 35px;
  padding: 3px;
  right:40px;
  top:40px;
  z-index: 101;
  position: absolute;
}

#hamWrap div
{
    background-color: #fffff3;
    height: 2px;
    width: 35px;
    margin-top: 8px;

}
